logs
project/project
project/target
project/.bloop
target
tmp
.history
.cache
dist
bin
/.idea
/.metals
/.vscode
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
project/metals.sbt
