@(project: Project
, tasks: List[Task], config: util.Config)(implicit user: util.auth.User)

@main(project.name, config) {
<h1>Project @project.name  </h1>

    name: @project.name
    <br>
    id: @project.id
    <h3>Tasks</h3>
	@tasks.map{task =>
       <div class="row">
           <div class="col-sm-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">#@task.id</h5>
                        <p class="card-text">
                            color: @task.color
                            <br>
                            status: @task.status.toString
                        </p>
                    </div>
                </div>
           </div>
       </div>
	}
}
